<div class="container p-4">
<!--To Do: If user clicked on category on home, only list this category>
iterate through strings equipment items or create new models for category -->

  <div class="cards">
    <% @equipment_items.each do |item| %>
      <%= link_to item, style: "text-decoration: none;" do %>
        <div class="card-trip">
          <img src="<%= cl_image_path item.photo.key, crop: :fit %>" />
          <div class="card-trip-infos">
            <h2><%= item.category %></h2>
            <p>User: <%= item.user.email %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
