<div class="container index-head", style="text-align: center">
  <% if params[:category] %>
    <h1><%= params[:category] %></h1>
  <% else %>
    <h1>All available items</h1>
  <% end %>
</div>

<div class="container p-4">
  <%= render "shared/equipshow" %>
  <li class="icon-item">
    <div style="text-decoration: none;">
      <%= link_to :back do %>
        <i class="icon-link"><i class="fas fa-arrow-left" ></i></i>
      <% end %>
    </div>
  </li>
</div>
