<p id="notice"><%= notice %></p>

<div class="container p-4">
  <div class="cards">
    <% @equipment_items.each do |item| %>
      <div class="card-trip">
        <img src="<%= cl_image_path item.photo.key, crop: :fit %>" />
        <div class="card-trip-infos">
          <h2><%= item.category %></h2>
          <p>User: <%= item.user.email %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
